<!doctype html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="angular.min.js"></script>
	<script>
		var myApp=angular.module('myApp',[]);

		myApp.controller('FilterController',['filterFilter',function(fil){
			this.array=[{name:'Tobias'},{name:'Jeff'},{name:'Brian'},{name:'Igor'},{name:'James'},{name:'Brad'}];
			this.abc=fil(this.array,'a');
		}]);
	</script>
</head>
<body>
	<div ng-controller="FilterController as ctrl">
      <div>
        All entries:
        <span ng-repeat="entry in ctrl.array">{{entry.name}} </span>
      </div>
      <div>
        Entries that contain an "a":
        <span ng-repeat="entry in ctrl.abc">{{entry.name}} </span>
      </div>
    </div>
</body>
</html>